# MongoDB Ayarları
PORT=3000
MONGODB_USER=kullanici_adiniz
MONGODB_PASSWORD=sifreniz
MONGODB_URL=cluster_adi.abcde.mongodb.net
MONGODB_DB=db_adi

# Brevo (SMTP) Ayarları
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=example_smtp_key
SMTP_FROM=noreply@example.com

# Uygulama ve JWT
APP_DOMAIN=http://localhost:3000
JWT_SECRET=gizli_anahtarin

# Cloudinary Ayarları
CLOUDINARY_CLOUD_NAME=cloud name
CLOUDINARY_API_KEY=api key
CLOUDINARY_API_SECRET=api secret